bcrypt
beautifulsoup4==4.6.0
chardet
circleclient==0.1.6
compmake==3.5.23
comptests==1.4.24
ConfTools==1.9.4
DecentLogs==1.1.2
decorator==4.1.0
gitpython
junit_xml
lxml
markdown
networkx==1.11
nose
pillow
pint==0.7.2
PyContracts==1.8.3
PyGithub
pygments
pygments_markdown_lexer
pyramid
pyramid_debugtoolbar
pyramid_jinja2
pytz
QuickApp==1.3.13
reprep
requests
ruamel.yaml
waitress
watchdog
webtest
