@stylesheet: v_manual_reveal;

@import 'reset';
@import 'reset-fix';
@import 'colors';
@import 'captions';
@import 'vimeo';
@import 'pygments';
@import 'toc';
@import 'fonts';
@import 'markdown';
@import 'mcdp_language_highlight';
@import 'fall2017';

// TODO: rest of stuff in "manual"

//@import 'manual_screen';

.reveal {
  .slide-background {
    background-color: #ffc606;
  }

  .slides {
    font-size: 150%;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    border: solid 1px;
    padding: 0.5em;

    font-family: Cambria;

    h1 {
      font-family: "Hobo Std", serif;
      margin-top: 0.6em;
      font-size: 1.4em;
      font-weight: bold;
    }

    pre {
      margin: 1em;
      padding: 0.3em;
    }
  }
}
